<div class="mt-4">
    <div class="row">

        {{#each favourites}}

        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/favourite/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="image">
                </a>
                <div class="card-body">
                    <a href="/favourite/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/favourite/{{this.slug}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>

</div>